:host{
	position: absolute;
	background-color: #888;

	top:0;
	left:25%;
	width: 1000px;
	height: 1000px;

	transform: rotateX(60deg) rotateY(0deg) rotateZ(-45deg);
	.tile{
		position: absolute;
	}
	.tile.selected{
		border: 1px solid #F00;
	}
	.fog{
		pointer-events: none;
		position: absolute;
		background-color:#000;
		transition:opacity .25s linear;
		width: 100%;
		height: 100%;
		.fog-1{
			opacity:.5;
		}
		.fog-2{
			opacity:1;
		}
	}
	.tile:hover .fog{
		border:1px solid #888;
	}

	.tile .occupy{
		position: absolute;
		width: 100%;
		height: 100%;
		&.farm{background-color:#9B7653}
		img{
			width:100%;
			height:100%;
		}
	}
}
